.env
design/data/
design/chroma_db/
design/chroma_db_dinov2/
design/chroma_db_siglip/
design/성능 테스트/dataset/chroma_eval_db/
design/__pycache__/
design/src/temp_uploads/*
design2/
__pycache__/
*.pyc
.DS_Store
