langchain
langchain-community
langchain-core
langchain-openai
langgraph
langgraph-checkpoint
langgraph-prebuilt

torch>=2.1.0
numpy>=1.24.0
git+https://github.com/openai/CLIP.git

chromadb

fastapi
uvicorn
requests

Pillow
openpyxl

python-dotenv